.content {
  padding: 1.5rem 1.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:  #7c9f92;
}

.carousel_wrapper {
  max-width: 100%;
  background: #333333;
  padding: 1rem 0;
}

.image_wrapper {
  max-width:  calc(100% - 2rem);
  margin: 2.5rem 1rem;
  padding: 1rem 1rem 2rem; 
  background:  #333333;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.carousel_dots li button {
  height:  14px !important;
  background: #1b90ff !important;
}
